# Dependencies
node_modules
**/bin
**/obj

# Build artifacts
/dist
/build
/out-tsc
/app/publish

# Environment files
*.env
appsettings.*.local.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Misc
.DS_Store
coverage
